<?python
  awstats = "http://operator.applespajamas.com/cgi-bin/awstats.pl?&"
?>
<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
<title>Statistics</title>
</head>
<body>
<div class="row">
  <div class="span12">
    <div class="page-header">
      <h2>Statistics</h2>
      <div class="hero-unit">
        <a href="${awstats}config=chico" class="btn btn">Web</a>
          <a href="${awstats}config=icecast" class="btn btn">Icecast</a>
          <a href="${awstats}config=shoutcast" class="btn btn">Shoutcast</a>
      </div>
    </div>
    <div>
      <a href="http://operator.applespajamas.com:8000/" class="btn btn-inverse">Icecast Server</a>
      <a href="http://operator.applespajamas.com:8010/" class="btn btn-inverse">Shoutcast Server</a>
    </div>
  </div>
</div>
</body>
</html>
