<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
<title>index</title>
</head>

<body>
<div class="row"> 
  <!--!<div class="span8 hidden-phone hidden-tablet">-->
  <div class="hero-unit">
    <h1>Play!</h1>
    <p> <a class="btn btn-success btn-large" href="${tg.url('/play/hifi.pls')}">HiFi ${h.icon('music')} </a> <a class="btn btn-info btn-large" href="${tg.url('/play/lofi.pls')}">LoFi ${h.icon('headphones')} </a> </p>
    <p><a class="btn btn-primary btn-large" href="${tg.url('/listen')}"> ${h.icon('play')} Web Player [experimental] </a></p>
  </div>
</div>
<div class="notice">by MattRock</div>
</body>
</html>
