<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="master.html" />
<head>
<title>${page}</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script type="text/javascript" src="javascript/jquery.jplayer.min.js"></script>
<script type="text/javascript">
//<![CDATA[

$(document).ready(function(){

	// Local copy of jQuery selectors, for performance.
	var	my_jPlayer = $("#jquery_jplayer"),
		my_trackName = $("#jp_container .track-name"),
		my_playState = $("#jp_container .play-state"),
		my_extraPlayInfo = $("#jp_container .extra-play-info");

	// Some options
	var	opt_play_first = true, // If true, will attempt to auto-play the default track on page loads. No effect on mobile devices, like iOS.
		opt_auto_play = true, // If true, when a track is selected, it will auto-play.
		opt_text_playing = "Now playing", // Text when playing
		opt_text_selected = "Track selected"; // Text when not playing

	// A flag to capture the first track
	var first_track = true;

	// Change the time format
	$.jPlayer.timeFormat.padMin = false;
	$.jPlayer.timeFormat.padSec = false;
	$.jPlayer.timeFormat.sepMin = " min ";
	$.jPlayer.timeFormat.sepSec = " sec";

	// Initialize the play state text
	my_playState.text(opt_text_selected);

	// Instance jPlayer
	my_jPlayer.jPlayer({
		ready: function () {
			$("#jp_container .track-default").click();
		},
		timeupdate: function(event) {
			my_extraPlayInfo.text(parseInt(event.jPlayer.status.currentPercentAbsolute, 10) + "%");
		},
		play: function(event) {
			my_playState.text(opt_text_playing);
		},
		pause: function(event) {
			my_playState.text(opt_text_selected);
		},
		ended: function(event) {
			my_playState.text(opt_text_selected);
		},
		swfPath: "js",
		cssSelectorAncestor: "#jp_container",
		supplied: "mp3",
		wmode: "window"
	});

	// Create click handlers for the different tracks
	$("#jp_container .track").click(function(e) {
		my_trackName.text($(this).text());
		my_jPlayer.jPlayer("setMedia", {
			mp3: $(this).attr("href")
		});
		if((opt_play_first && first_track) || (opt_auto_play && !first_track)) {
			my_jPlayer.jPlayer("play");
		}
		first_track = false;
		$(this).blur();
		return false;
	});

});
//]]>
</script>
<style>
<!--
/*.radio-player {
	border: 1px solid #009BE3;
	padding:0 20px;
	font-family: "Myriad Pro Regular","Trebuchet MS";
}*/

/*.radio-player a, .radio-player a:link, .radio-player a:visited, .radio-player a:hover, .radio-player a:focus, .radio-player a:active {
	color: #009BE3;
}*/
.radio-player ul {
	list-style-type: none;
	padding: 0;
	margin: 1em 0;
	width: 100%;
	overflow: hidden;
}
.radio-player ul span {
	color: #A0A600;
}
.radio-player li {
	float: left;
	margin-right: 1em;
}
-->
</style>
</head>

<body>
<div class="navbar" ></div>
<div class="row">
  <div id="jquery_jplayer"></div>
  <div id="jp_container" class="radio-player hero-unit">
    <ul>
      <li><a href="http://operator.applespajamas.com:8000/axemp3hifi" class="track track-default">RockRadio</a></li>
      <li><span class="jp-current-time"></span></li>
    </ul>
    <ul>
      <li><a class="jp-play btn btn-mini btn-success" href="#">${h.icon('play', 1)} Play</a></li>
      <li><a class="jp-pause btn btn-mini btn-info" href="#">${h.icon('pause', 1)} Pause</a></li>
      <li><a class="jp-stop btn btn-mini btn-primary" href="#">${h.icon('stop', 1)} Stop</a></li>
    </ul>
    <ul>
      <li><a class="jp-mute btn btn-mini btn-warning" href="#">${h.icon('volume-off', 1)} Mute</a></li>
      <li><a class="jp-unmute btn btn-mini btn-danger" href="#">${h.icon('volume-down', 1)} Unmute</a></li>
      <li><a class="jp-volume-bar btn btn-mini btn-inverse" href="#">${h.icon('volume-down', 1)}${h.icon('chevron-left', 1)}${h.icon('minus', 1)}${h.icon('minus', 1)}${h.icon('chevron-right', 1)}${h.icon('volume-up', 1)}</a></li>
      <li><a class="jp-volume-max btn btn-mini btn-primary" href="#">${h.icon('volume-up', 1)}Max</a></li>
    </ul>
  </div>
</div>
</body>
</html>
